Anda belum <span style="font-weight: 700">terverifikasi</span> klik tombol
dibawah atau ketik <span style="font-weight: 700">/verify</span>
<form action="/verify/send" method="post" style="margin-top: 1.5em">
  <button type="submit" style="font-weight: 700" class="button">
    Send Verify Link
  </button>
</form>
