    Anda <span style="font-weight: 700">belum</span> memasuki
    <span style="font-weight: 700">Dinasti</span>!
    <div style="margin-top: 1.5em">
      <a href="https://discord.gg/WvB8wpJvNH" style="margin-top: 2em" class="button">
        Join Disini
      </a>
    </div>