<h3 style="font-weight: 700;margin-bottom: .5rem;">Apakah jumlah subsriber disembunyikan?</h3>
Go to <a style="font-weight: 700;" href="https://studio.youtube.com" target="_blank">YouTube Studio</a> > Settings > Channel > Advanced settings > Subscriber count > Check <span style="font-weight: 700;">Display the number of people subscribed to my channel</span> > Save.
<br>
Pergi <a style="font-weight: 700;" href="https://studio.youtube.com" target="_blank">YouTube Studio</a> > Setelan > Channel > Setelan lanjutan > Jumlah Subscriber > Centang <span style="font-weight: 700;">Tampilkan jumlah subscriber channel saya</span> > Simpan.
<br><br>
<h3 style="font-weight: 700;margin-bottom: .5rem;">Jika tidak, hubungi dinasti, atau <a href="http://" class="button">Cara Manual</a></h3>