<% if (isMobile) { %>
<h3 style="font-weight: 700">
  Cara koneksikan YouTube/Twitch ke Discord (Android/iOS)
</h3>
<ol>
  <li>
    Slide halaman discord ke kanan dan pilih profile (gambar foto profile
    discord kamu)
  </li>
  <li>Pilih <span style="font-weight: 700">Connections</span></li>
  <li>
    Klik <span style="font-weight: 700">Add</span>, lalu pilih
    <span style="font-weight: 700">YouTube</span>/<span style="font-weight: 700"
      >Twitch</span
    >
  </li>
  <li>
    <span style="font-weight: 700">Login</span>/<span style="font-weight: 700"
      >Pilih</span
    >
    akun utama kamu
  </li>
  <li>
    Khusus YouTube, Jika anda masuk
    <span style="font-weight: 700">Connect your account or a brand account</span
    >, pilih <span style="font-weight: 700">channel utama</span> kamu
  </li>
  <li>
    Jika ada konfirmasi, klik <span style="font-weight: 700">Allow</span>/<span
      style="font-weight: 700"
      >Izinkan</span
    >
  </li>
</ol>
<br />
<img
  src="https://cdn.discordapp.com/attachments/777772317857677313/777772654547566602/Tutor_HP.png"
  alt=""
  class="img"
/>
<br />
<br />
<% } else { %>
<h3 style="font-weight: 700">Cara koneksikan YouTube/Twitch ke Discord (PC)</h3>
<ol>
  <li>Klik User <span style="font-weight: 700">User Settings</span>/⚙️</li>
  <li>Pilih <span style="font-weight: 700">Connections</span></li>
  <li>
    Pilih logo <span style="font-weight: 700">YouTube</span>/<span
      style="font-weight: 700"
      >Twitch</span
    >
  </li>
  <li>
    <span style="font-weight: 700">Login</span>/<span style="font-weight: 700"
      >Pilih</span
    >
    akun utama kamu
  </li>
  <li>
    Khusus YouTube, Jika anda masuk
    <span style="font-weight: 700">Connect your account or a brand account</span
    >, pilih <span style="font-weight: 700">channel utama</span> kamu
  </li>
  <li>
    Jika ada konfirmasi, klik <span style="font-weight: 700">Allow</span>/<span
      style="font-weight: 700"
      >Izinkan</span
    >
  </li>
</ol>
<br />
<img
  src="https://media.discordapp.net/attachments/777772317857677313/777772586410967051/Tutor_PC.png"
  alt=""
  class="img"
/>
<br />
<br />
<% } %>
